<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app"></div>

    <template id="my-app">
      <h2>{{message}}</h2>
      <!-- 1.绑定textarea -->
      <label for="intro"
        >自我介绍
        <textarea v-model="message" name="intro" id="" cols="30" rows="10"></textarea>
      </label>
      <br />
      <!-- 2.绑定checkbox -->
      <!-- 2.1 单选框 -->
      <label for="agree"> <input id="agree" type="checkbox" v-model="isAgree" />同意协议 </label>
      <div>isAgree:{{isAgree}}</div>
      <!-- 2.2 多选框 -->
      <span>你的爱好</span>
      <label for="basketball"> <input id="basketball" type="checkbox" v-model="hobbies" value="basketball" />篮球 </label>
      <label for="football"> <input id="football" type="checkbox" v-model="hobbies" value="football" />足球 </label>
      <label for="volletyball"> <input id="volletyball" type="checkbox" v-model="hobbies" value="volleyball" />排球 </label>
      <h2>hobbies:{{hobbies}}</h2>
      <!-- 3.绑定radio -->
      <span>你的性别</span>
      <label for="male"> <input id="male" type="radio" v-model="gender" value="male" />男 </label>
      <label for="female"> <input id="female" type="radio" v-model="gender" value="female" />女 </label>
      <h2>gender:{{gender}}</h2>
      <!-- 4.绑定select -->
      <span>喜欢的水果</span>
      <select name="" id="" v-model="fruit" multiple size="2">
        <option value="apple">苹果</option>
        <option value="banana">香蕉</option>
        <option value="pear">梨</option>
      </select>
      <h2>fruit:{{fruit}}</h2>
    </template>

    <script src="../js/vue.js"></script>
    <script>
      const app = {
        template: '#my-app',
        data() {
          return {
            message: 'Hello world',
            isAgree: false,
            hobbies: [],
            gender: '',
            fruit: []
          }
        }
      }
      Vue.createApp(app).mount('#app')
    </script>
  </body>
</html>
